<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEEL YEEZY</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap" rel="stylesheet">    <header>
        <a href="#" class="logo">FEEL YEEZY</a>

        <ul class="navlist">
            <il><a href="#">Домашняя</a></il>
            <il><a href="#">О нас</a></il>
            <il><a href="#">Пользователям</a></il>
            <il><a href="#">Саппорту</a></il>
            <il><a href="#">Креатору</a></il>
            <il><a href="#">Контакты</a></il>
        </ul>

        <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <section class="we-are">
        <div class="we-are-text">
            <h1>Мы — сообщество</h1>
            <p>Не просто комерческий проект<br>
            мы тут, чтобы построить комьнити где каждый<br>
            будет чувствовать себя своим</p>
            <a>Давай с нами</a>
        </div>

        <div>
            <img src="static/img/kanye.png" alt="Kanye West prase!" id="kanye">
        </div>
    </section>

    <section>
        <div class="center">
            <h1>Дропай лут в сундук</h1>
            <form method="POST" action="/" enctype="multipart/form-data">
                <input class="ok" type="file" name="file">
                <button class="op">Submit</button>
            </form>
        </div>
    </section>

    <script src="app.py"></script>
    
</body>
</html>