<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">


         <!-- Header -->
         <div id="header">
          <h1>SoftMarket</h1>
    
      
          <link rel="stylesheet" href="style.css">
    
          <link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">
        </div>

</head>
<body>
    <form >
      <style>
      
       </style>
        <div class="signin">
          
          <h2>Вход</h2>
         

          <label for="email">Email</label><br>
          <input type="email" id="email" name="email"><br>

          <label for="password">Пароль</label><br>
          <input type="password" id="password" name="password"><br>

      
  
          <h2 type="submit" class="registerbtn">Войти</h2>
        </div>
      
        <div class="container signin">
          <p>Есть аккаунт?<a href="#">Войдите</a>.</p>
        </div>
      </form> 

       <!-- Footer -->
       <div id="footer">
        <p>Контакты:</p>
        <p>GitHub: <a href="https://github.com/oversizeheart/platform">https://github.com/oversizeheart/platform</a></p>
        <p>Город: Воронеж</p>
        <p>Авторы: <a href="https://github.com/ccitygril">Луганская Мария</a>,
          <a href="https://github.com/oversizeheart">Малышев Илья</a>,
          <a href="https://github.com/oversizeheart/platform/blob/master">Деревенских Владислав</a></p>
      </div>
      
</body>
</html>
