body {
    background-color: #1D0240; /* dark purple */
    font-family: 'Space Mono', monospace;
  }
  
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
  }
  
  #header h1 {
    font-weight: bold;
    margin: 0;
  }

  

  #header button {
    margin-left: 10px;
  }
  
  button {
    padding: 10px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border-radius: 30px;
    border-color: white;
  }
  
  button:hover {
    background-color: #9575CD; /* light purple */
  }
  
  #main {
    text-align: center;
    padding: 50px;
    color: white;
  }
  
  #main input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5A4D7D;
    color: white;
  }
  
  #main p {
    font-weight: bold;
  }
  
  #footer {
    background-color: transparent;
    padding: 20px;
    color: white;
  }
  
  #footer p {
    margin: 0;
  }

  a {
    color: white;
  }

  #join {
    margin: 10px;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
   }

  div.registration{
    width: 400px;
    height: 550px;
    box-shadow: 0 0 0 8px rgb(255, 255, 255);
   }


   h2 {
    color: white;
  }
  a{
    color: #9575CD;
  }

   input[type=text], input[type=password], input[type=email] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    margin: 10px;
    padding: 5px;
    width: 250px;
    font-size: 16px;
    outline: none;
    
   }
   input[type=submit] {
    background-color: #ffffff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
   }